<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OmniConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OmniConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <runtime>
      <gcAllowVeryLargeObjects enabled="true"/>
    </runtime>
    <userSettings>
        <OmniConverter.Properties.Settings>
            <setting name="PreventClipping" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Frequency" serializeAs="String">
                <value>48000</value>
            </setting>
            <setting name="MultiThreadedMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PerTrackExport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VoiceLimit" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="SincInter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisableEffects" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoteOff1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoudMax" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PerTrackSeparateFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PerTrackCreateFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoOutputFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AOFPath" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="LastPathMIDIImport" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="LastPathSFImport" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="LastPathAudioExport" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="MultiThreadedLimit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SUP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultiThreadedLimitV" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DoActionAfterRender" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoActionAfterRenderV" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpdateBranch" serializeAs="String">
                <value>choose</value>
            </setting>
            <setting name="CFValue" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="RVOverrideToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReverbValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChorusValue" serializeAs="String">
                <value>0</value>
            </setting>
        </OmniConverter.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <OmniConverter.Properties.Settings>
            <setting name="Codec" serializeAs="String">
                <value>wav</value>
            </setting>
            <setting name="PreRelease" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjectLink" serializeAs="String">
                <value>https://github.com/KeppySoftware/OmniConverter</value>
            </setting>
            <setting name="CFFluctuation" serializeAs="String">
                <value>5.556E-05</value>
            </setting>
        </OmniConverter.Properties.Settings>
    </applicationSettings>
</configuration>
